# Ignore person input and output
output/
*.xlsm
*.html
*.pdf
*.jpeg

# Unignore the excel template!
!template.xlsm

# Ignore built pycache
__pycache__/

# Ignore built .exe files and creation files
# Note: We use Pyinstaller
*.spec
plotly/
build/
dist/

# Unignore the pyinstaller template!
!template.spec

# Also ignore any zip files (that are distributed among users)
*.zip

# Ignore any temporaryfiles
*.tmp